@font-face {
  font-family: "customExtensionHeaderFont";
  src: url("./assets/fonts/static/NotoSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "customExtensionDetailFont";
  src: url("./assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
}
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.switch input:focus + .slider {
  outline: none;
  box-shadow: 0 0 15px hsl(3, 71%, 56%);
}

.slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: hsl(3, 71%, 56%);
}

input:checked + .slider::before {
  transform: translateX(16px);
}
.extension-container {
  width: 30%;
  border-radius: 15px;
  background: hsl(200, 60%, 99%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
  padding: 10px 10px 10px 10px;
}
.extension-container.dark {
  background: hsl(226, 25%, 17%);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2) !important;
  color: hsl(200, 60%, 99%);
}
.extension-details {
  display: flex;
  margin-bottom: 20px;
}
.extension-spacer {
  margin-left: 10px;
}
.extension-interactions {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
.extension-toggle-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 6px 13px;
  cursor: pointer;
  background: hsl(200, 60%, 99%);
  line-height: normal;
  box-shadow: 0 0 0 0.5px hsl(0, 0%, 78%);
  border: none;
  font-family: "customExtensionDetailFont", sans-serif;
  font-weight: 500;
  outline: none;
  box-sizing: border-box;
  transform: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.extension-toggle-btn:active {
  outline: none;
  box-shadow: 0 0 0 0.5px hsl(0, 0%, 78%);
  transform: none;
  padding: 6px 13px;
}
.extension-toggle-btn:focus {
  outline: none;
  border: none;
  transform: none !important;
  box-shadow: 0 0 0 0.5px hsl(3, 86%, 64%) !important;
}
.extension-toggle-btn:hover {
  background: hsl(3, 86%, 64%) !important;
  color: hsl(200, 60%, 99%);
  box-shadow: 0 0 0 0.5px hsl(3, 86%, 64%);
}
.extension-toggle-btn.dark {
  background: hsl(226, 25%, 17%);
}
.extension-description {
  font-size: 14px;
  margin-top: -10px;
  font-family: "customExtensionDetailFont", sans-serif;
  color: hsl(226, 11%, 37%);
  font-weight: 500;
  line-height: 18px;
}
.extension-description.dark {
  color: hsl(0, 0%, 78%);
}
.extension-name {
  font-weight: 700;
  font-size: 18px;
  margin-top: 10px;
  font-family: "customExtensionHeaderFont", sans-serif;
}
.extension-logo {
  max-width: 50px;
  max-height: 100%;
}
.slider.dark {
  background-color: hsl(226, 11%, 37%);
}

@media screen and (max-width: 768px) {
  .extension-container {
    width: 100%;
  }
  .extension-list-container {
    width: 80%;
  }
  .extension-list-header {
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  .extension-container {
    width: 45%;
  }
}
